<%= form_for [ :admin, @user ] do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <p><%= @user.email %></p>
  </div>

  <div class="field">
    <%= f.label :admin %><br>
    <p><%= @user.admin %></p>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
